{{!-- code from https://codepen.io/romulomachado/full/WROjRQ --}}

<div class="starwars-demo" {{did-insert this.onInserted}}>
    <img src="http://svgshare.com/i/Zy.svg" alt="Star" class="star">
    <img src="http://svgshare.com/i/a2.svg" alt="Wars" class="wars">
    <h2 class="byline" id="byline">Loading data..</h2>
</div>