{{!-- code from https://codepen.io/romulomachado/full/WROjRQ --}}

<div data-test-preloader class="starwars-demo">
    <img data-test-image src="http://svgshare.com/i/Zy.svg" alt="Star" class="star">
    <img data-test-image src="http://svgshare.com/i/a2.svg" alt="Wars" class="wars">
    <h2 class="byline">
      {{#each this.chars as |char|}}<span>{{char}}</span>{{/each}}
    </h2>
</div>