<div class="row justify-content-md-center">
  <div class="col-sm-6">
     <Ui::Battle @model={{@model}} />
  </div>
  <div class="col-sm-6">
    <LinkTo @route="battle-constructor" class="btn btn-primary" data-test-create-battle-link>Create new battle</LinkTo>
  </div>
</div>