<div class="row justify-content-md-center">
  <div class="col-sm">
      <Ui::BattleManager @mode={{this.mode}} @setMode={{this.setMode}} />
  </div>
  <div class="col-sm">
      <Ui::BattleList />
  </div>
</div>